img
{
	border-style:none;
}

body{
	margin:0px;
	padding:0px;
	background-color:#707070;
}

div.page-wrapper
{

	font-family:Arial;
	width:100%;


}
div.header
{
	
	background-color:#1c538c;

	
}
div.header_content
{	
	position: relative;

	width:800px;
	height:110px;
	margin-left:auto;
	margin-right:auto;
}

h1
{
	position:absolute;
}

h3
{
	font-style: normal;
	font-weight: normal;
	font-family: "Arial";
	font-size:9pt;
}

h1#orintext
{
	top:10px;
	left:0px;
	
}

div.belowheader
{

	margin-left:auto;
	margin-right:auto;
	
}

div.navi
{
	position: absolute;
	top:78px;
	height:32px;
 	width:564px;
  	left:236px;


}

ul
{
	position:absolute;
	top:-3px;
	left:30px;
}

li{
	top:0px;
	left:0px;
	position:relative;

	display: inline;	
}

a.navi
{	
	position:relative;
	top:0px;
	padding-right:15px;
}

div.content-wrapper
{
	position: relative;
	
	margin-left:auto;
	margin-right:auto;
	background-color: #ffffff;

	width: 800px;
}

div.content
{
	position:relative;
	width:796px;
	margin-right:auto;
	margin-left:auto;
	top:2px;
	bottom:2px;
	background-color: ;
}

div.contentxt
{
	position:relative;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	padding-bottom:25px;
	text-decoration:none;

	
}

div.picture
{
	position:relative;
	padding-left:25px;
	width:120px;

	
}

div.news
{
	position:relative;
	width:750px;
}

div.newspic
{
	position:relative;
	padding-left:25px;
	width:200px;

}

div.newsinfo
{
	position:absolute;
	top:0px;
	width:475px;
	margin-left:250px;

}

div.memberinfo
{
	position:relative;
	width:750px;
}

div.info
{
	top:0px;
	position:absolute;
	margin-left:160px;
	padding-top:35px;

}

div.info2
{
	top:0px;
	width:200px;
	position:absolute;
	margin-left:140px;
	padding-top:0px;

}

div.picture2
{
	top:0px;
	margin-left:350px;
	position:absolute;
	padding-left:px;
	width:120px;

	
}

div.student2
{
	top:0px;
	position:absolute;
	margin-left:465px;
	width:300px;
	padding-top:0px;



}
div.moreinfo
{
	position:relative;
	padding-left:25px;
}

div.information
{
	
	position:relative;
	width:800px;
	height:70px;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(0,0,0,0.3);
	
}

h1.kaistlogo
{
	position:absolute;
	left:695px;
	top:-8px;
}

div.info_content
{
	position:relative;
	margin-left:10px;
	margin-right:10px;
	top:15px;
	color: #ffffff;
	font-size:11px;
}

#map 
{
	margin-left:auto;
	margin-right:auto;
        width: 750px;
        height: 400px;
}

a
{
	font-size:9pt;
}